body, html {
	height: 100%;
}


.bg {
	background-image: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%,rgba(255,255,255,.5) 100%), url(imgs/bg2.jpg);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.page {
	overflow: auto;
  		height: 100%;
}

.green {
	color: green;
}

@media (max-width: 1026px) {
    .hidesm { display: none; }
}

.mainInfo {
	font-size: 23px;
	/*background-color: rgb(255, 255, 255, 0.6);*/
	padding: 10px 30px;
	background-color: #FFF;
	/* IE 8 */
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";

  	/* IE 5-7 */
  	filter: alpha(opacity=60);

	/* Netscape */
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;

}

.bold {
	font-weight: bold;
}

.red {
	color: red;
}

.tblheader {
	/*background-color: rgb(158, 214, 103, 0.6);*/
	background-color: #9ED667;

	/* IE 8 */
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";

  	/* IE 5-7 */
  	filter: alpha(opacity=60);

	/* Netscape */
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;

}

.greentblrow{
	/*background-color: rgb(17,168,39,0.8) !important;*/
	background-color: #11A827 !important;
	/* IE 8 */
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

  	/* IE 5-7 */
  	filter: alpha(opacity=80);

	/* Netscape */
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;

	color: white;
}

.redtblrow{
	/*background-color: rgb(255,4,4,0.6)  !important;*/

	background-color: #FF0404 !important;
	/* IE 8 */
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";

  	/* IE 5-7 */
  	filter: alpha(opacity=60);

	/* Netscape */
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;

	color: white;

}
.tblrow{
	/*background-color: rgb(255, 255, 255, 0.8); */

	background-color: #FFF;
	/* IE 8 */
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

  	/* IE 5-7 */
  	filter: alpha(opacity=80);

	/* Netscape */
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;


}

.footer{
	/*background-color: rgb(255, 255, 255, 0.4);*/
	background-color: #FFF;
	/* IE 8 */
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";

  	/* IE 5-7 */
  	filter: alpha(opacity=80);

	/* Netscape */
	-moz-opacity: 0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;

	padding: 10px 30px;
}

.fotertext{
	color: black;
	font-size: 28px;
}
.foterlink{
	color: black;
	font-size: 28px;
}
.foterlink:hover{
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.table tbody tr:hover td, .table tbody tr:hover th {
	/* background-color: rgb(255, 255, 255, 0.6);   */
	  background-color: #FFF;
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";

	/* IE 5-7 */
	filter: alpha(opacity=60);

	/* Netscape */
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
	color: #333;
}
.table > tbody > tr > td {
   		vertical-align: middle;
}

.dot {
	color: #000;

	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";

	/* IE 5-7 */
	filter: alpha(opacity=30);

	/* Netscape */
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;

	padding: 0px 10px;
}
